* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-family: "Poppins", sans-serif !important;
}

.swiper {
  max-width: 500px;
}

.pt-50 {
  padding-top: 50px;
}
.container {
  max-width: 1140px !important;
}
.imgs_set {
  max-width: 100%;
  max-height: 300px !important;
  height: 100%;
}

.main_card {
  background: gray;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-top: 20px;
}
.tsk_crd {
  padding: 10px;
  background: #000;
  color: white !important;
}
.pointer {
  cursor: pointer;
}
.small_crd:hover .imgs_set {
  transform: translate3d(20%);
}
.small_crd {
  background: white;
  border: 3px solid black;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
}
.fs_20 {
  font-size: 20px;
}
/* html {
  margin: 80px;
} */
select {
  height: 48px;
  width: 170px;
  font-size: 18px;
}
select {
  font-size: 20px !important;
  font-weight: 600 !important;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
.profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.profile:hover {
  content: vishu;
}
.r_code {
  font-size: 40px;
  font-weight: 600;
}
.r_clr {
  color: blue;
}
.text-black {
  color: black !important;
}
/* tab */
.card {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  right: 0;
  margin-top: 10px;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.display {
  display: block !important;
}
@media (min-width: 768px) {
  .imgs_set {
    max-width: 300px;
  }

  .main_card {
    padding: 30px;
  }
}
